@import'./variables';

footer{
    background: $back-color;
    div{
        max-width: 1440px;
        margin: auto;
        color: $primary-color;
        padding: 10px 0;
        p{
            text-align: center;
        }
    }   
}